.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-4);
}

.galleryHeight {
  min-height: 204px;
}

@media (max-width: 680px) {
  .galleryHeight {
    min-height: 115px;
  }
}

.galleryImage {
  aspect-ratio: 1 / 1;
  background-color: var(--color-input);
}

.galleryImagePlaceholder {
  composes: galleryImage;
  background-color: white;
  border: 1px solid var(--color-border);
}

.galleryImageLoading {
  composes: galleryImage;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.generatorLabel {
  display: flex;
  justify-content: space-between;
}

.marker {
  --marker-size: 15px;
  height: var(--marker-size);
  width: var(--marker-size);
  background-color: black;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  transform: translateY(-0.3em);
  font-size: 8.5px;
  font-weight: 800;
  color: white;
  position: relative;
}

.markerArrow {
  position: absolute;
  top: -30px;
  color: var(--color-border);
}
