.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-4);
}

.galleryHeight {
  min-height: 204px;
}

@media (max-width: 680px) {
  .galleryHeight {
    min-height: 115px;
  }
}

.galleryImage {
  aspect-ratio: 1 / 1;
  background-color: var(--color-input);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -300px 0
  }
  100% {
    background-position: 300px 0
  }
}

.galleryImageLoading {
  composes: galleryImage;

  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #ebebeb 18%, #eeeeee 33%);
  background-size: 300px 204px;
  position: relative;
}

.generator {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.generatorLabel {
  display: flex;
  justify-content: space-between;
}
