.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 36px;
}

.content {
  display: inline-flex;
  gap: 0.25rem;
  font-size: clamp(12px, 0.7187rem + 0.1211vw, 13px);
  line-height: 1.5;
  color: #9b9b9b;
}

.link {
  display: inline-flex;
  gap: 0.125rem;
  color: #9b9b9b;
}

.link:hover {
  color: white;
}
