/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */
/* clamp computer: https://codesandbox.io/s/clamp-linear-intepolation-based-on-viewport-width-builder-forked-c37i3 */
:root {
  --max-width: 680px;
  --dialog-width: 584px;
  --space-1: clamp(32px, 1.4988rem + 1.937vw, 48px);
  --space-2: clamp(16px, 0.7494rem + 0.9685vw, 24px);
  --space-3: clamp(12px, 0.6247rem + 0.4843vw, 16px);
  --space-4: clamp(8px, 0.4687rem + 0.1211vw, 9px);
  --heading-size-1: clamp(30px, 1.687rem + 0.7264vw, 36px);
  --heading-size-2: clamp(27px, 1.5935rem + 0.3632vw, 30px);
  --heading-size-3: clamp(21px, 1.2185rem + 0.3632vw, 24px);
  --heading-size-4: clamp(18px, 1.031rem + 0.3632vw, 21px);
  --font-size-1: clamp(16px, 0.9373rem + 0.2421vw, 18px);
  --font-size-2: clamp(13px, 0.7498rem + 0.2421vw, 15px);
  --font-size-3: clamp(12px, 0.7187rem + 0.1211vw, 13px);
  --color-input: rgb(245, 245, 244);
}

body {
  background: #fff;
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.025em;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

a:hover {
  color: #000;
  text-decoration-color: #000;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-family: var(--font-display);
  font-weight: 600;
}

p {
  color: rgb(120, 113, 108);
}

/* UTILITIES */

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-1);
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-2);
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-3);
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-4);
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-1);
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-2);
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-3);
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-4);
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #666;
}

.text-error {
  color: #df0e0e;
}

.font-medium {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.divider {
  border-left: 1px solid #d5d5d5;
  flex: 1;
  height: 100%;
  width: 1px;
}

.overflow-hidden {
  overflow: hidden;
}

.pt-3 {
  padding-top: var(--space-3);
}

.pt-4 {
  padding-top: var(--space-4);
}

.pl-3 {
  padding-left: var(--space-3);
}
.pl-4 {
  padding-left: var(--space-4);
}
