/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */
:root {
  --max-width: 680px;
  --dialog-width: 584px;
  --space-1: 48px;
  --space-2: 24px;
  --space-3: 16px;
  --space-4: 9px;
  --heading-size-1: 36px;
  --heading-size-2: 30px;
  --heading-size-3: 24px;
  --heading-size-4: 21px;
  --font-size-1: 18px;
  --font-size-2: 15px;
  --font-size-3: 13px;
  --color-input: rgb(245, 245, 244);
}

body {
  background: #fff;
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.025em;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

a:hover {
  color: #000;
  text-decoration-color: #000;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

/* UTILITIES */

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-1);
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-2);
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-3);
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  margin-top: var(--space-4);
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-1);
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-2);
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-3);
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-right: var(--space-4);
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #666;
}

.text-error {
  color: #df0e0e;
}

.font-medium {
  font-weight: 500;
}

.divider {
  border-left: 1px solid #d5d5d5;
  flex: 1;
  height: 100%;
  width: 1px;
}

.overflow-hidden {
  overflow: hidden;
}
